@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
    --primary-color: #149e9e;
    --secondary-color: #e8e8e8;
    --text-dark: #0f172a;
    --text-light: #94a3b8;
    --white: #ffffff;
  }
  
/* Réinitialisation */
.body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

body{
    background-color: #f9f9f9;
}
.hero {
    background: url('car.jpg') center/cover no-repeat;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.hero::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.hero-text {
    position: relative;
    z-index: 1;
}

.hero1 h2 {
    font-size: 40px;
    color: white;
}

.hero1 p {
    margin-top: 10px;
    color: #bbb;
    font-size: 20px;
}

.hero1 p a {
    color: red;
    text-decoration: none;
    font-size: 20px;
}
/* Conteneur principal */
.about-us {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0px 200px;
  
    background-color: #f9f9f9;
}

/* Style de la partie gauche (titre et texte principal) */
.left {
    flex: 1;
}

.left h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 1.3;
    color: #000;
    margin-top: 20%;
}

/* Style de la partie droite (description) */
.right {
    flex: 1.5;
    font-size: 15px;
    color: #333;
    line-height: 1.6;
    max-width: 550px;
    margin-top: 10%;
    
}


.stats-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

/* Grille de mise en page */
.stats-grid {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: auto;
    gap: 15px;
    max-width: 1100px;
    align-items: center;
}

/* Colonne avec les éléments empilés */
.column {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Deux images sur la même ligne */
.image-row {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 250px;
    
}

/* Carte statistique */
.stats-card {
    background-color: #05224A;
    border-radius: 15px;
    font-weight: 600;
    height: 220px;
    width: 180px;
}

.stats-card h2 {
    font-size: 30px;
    margin-top: 25%;
    margin-left: 20%;
    color: #fff;
}

.stats-card p {
    font-size: 16px;
    margin: 5px 0 0;
    margin-left: 20%;
    line-height: 1.5;
    color: #e6e3e3;
    letter-spacing: 1.9;
}
.stats-card2 {
    background-color: #05224A;
    border-radius: 15px;
    font-weight: 600;
    height: 140px;
    width: 140px;
}
.stats-card2 h2 {
    font-size: 30px;
    margin-top: 25%;
    margin-left: 15%;
    color: #fff;
}
.stats-card2 p {
    font-size: 16px;
    margin: 5px 0 0;
    margin-left: 15%;
    color: #e6e3e3;
    letter-spacing: 1.9;
}

/* Styles des images */
.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

/* Différentes tailles d'images */
.image-box.small {
    height: 140px;
    width: 180px;
}
.image-box.small2 {
    height: 150px;
    width: 300px;
}

.image-box.medium {
    height: 213px;
    width: 250px;
}

.image-box.large {
    height: 100%;
    width: 600px;
}

/* Section Services */
.services {
    text-align: center;
    padding: 60px 20px;
    background: #fff;
    border-radius: 15px;
    max-width: 1200px;
    margin-left: 11.5%;
    margin-top: 50px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    position: relative;
}

/* Sous-titre */
.section-subtitle {
    color: #7c9af6;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 40px;
}

/* Titre */
.section-title {
    font-size: 32px;
    font-weight: 550;
    color: #111;
    margin-bottom: 15px;
}

/* Description */
.section-description {
    color: #666;
    font-size: 16px;
    max-width: 600px;
    margin: 0 auto 30px;
}

/* Grille des services */
.services-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

/* Carte Service */
.service-item {
    background: white;
    border-radius: 10px;
    padding: 20px;
    width: 30%;
    text-align: center;
}

/* Icône */
.service-icon img {
    width: 50px;
    height: 50px;
    background-color: #3366FF;
    padding: 10px;
    border-radius: 50%;
    margin-bottom: 19px;
}

/* Titre du service */
.service-item h4 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Texte du service */
.service-item p {
    font-size: 14px;
    color: #918f8f;
    margin-top: 10px;
    line-height: 1.5;
}



.section__container {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    text-align: center;
  }
  
  .section__container h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #05224A;
  }
  
  .section__container h1 {
    position: relative;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text-dark);
  }
  
  .section__container h1::after {
    position: absolute;
    content: "";
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 2px;
    width: 5rem;
    background-color:#05224A;
  }
  
  .section__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  
  .section__card {
    position: relative;
    isolation: isolate;
    overflow: hidden;
    padding: 5rem 2rem 2rem;
    background-color: var(--white);
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }
  
  .section__card::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    width: 75%;
    aspect-ratio: 1;
    border-radius: 100%;
    background-color: #05224A;
    z-index: -1;
    transition: 0.5s;
  }
  
  .section__card span {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    font-size: 3rem;
    color: var(--white);
  }
  
  .section__card h4 {
    margin-top: 4rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    color: #05224A;
    transition: 0.3s;
  }
  
  .section__card p {
    margin-bottom: 2rem;
    color: var(--text-light);
    transition: 0.3s;
  }
  
  .section__card img {
    margin-bottom: 1rem;
    max-width: 100px;
    border-radius: 100%;
    border: 2px solid #05224A;
    transition: 0.3s;
  }
  
  .section__card h5 {
    font-size: 1.25rem;
    font-weight: 600;
    color: #05224A;
    transition: 0.3s;
  }
  
  .section__card h6 {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-light);
    transition: 0.3s;
  }
  
  .section__card:hover::before {
    width: 400%;
  }
  
  .section__card:hover :is(h4, h5) {
    color: var(--white);
  }
  
  .section__card:hover :is(p, h6) {
    color: var(--secondary-color);
  }
  
  .section__card:hover img {
    border-color: var(--white);
  }



  /* Responsive: Tablette (max-width: 1024px) */
@media screen and (max-width: 1024px) {
    .nav {
      flex-direction: column;
      height: auto;
      line-height: normal;
      padding: 10px 0;
    }
  
    .nav-menu ul {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
  
    .about-us {
      flex-direction: column;
      margin: 50px 20px;
      text-align: center;
    }
  
    .left h1 {
      font-size: 30px;
      margin-top: 10%;
    }
  
    .right {
      margin-top: 5%;
      max-width: 100%;
    }
  
    .stats-grid {
      grid-template-columns: 1fr;
      text-align: center;
    }
  
    .image-row {
      justify-content: center;
      flex-wrap: wrap;
    }
  
    .services-grid {
      flex-direction: column;
      align-items: center;
    }
  
    .service-item {
      width: 100%;
      max-width: 500px;
    }
  
    .footer-content {
      flex-direction: column;
      text-align: center;
      gap: 20px;
    }
  
    .section__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  /* Responsive: Téléphones (max-width: 768px) */
  @media screen and (max-width: 768px) {
    .nav {
      flex-direction: column;
      align-items: center;
      height: auto;
      padding: 10px;
    }
  
    .nav-menu ul {
      flex-direction: column;
      align-items: center;
    }
  
    .nav-button {
      flex-direction: column;
      gap: 10px;
      margin-top: 10px;
    }
  
    .hero1 h2 {
      font-size: 28px;
    }
  
    .stats-card,
    .stats-card2 {
      width: 100%;
      height: auto;
    }
  
    .image-box.small,
    .image-box.medium,
    .image-box.large,
    .image-box.small2 {
      width: 100%;
      height: auto;
    }
  
    .section__grid {
      grid-template-columns: 1fr;
    }
  
    .subscribe-box {
      flex-direction: column;
      gap: 10px;
    }
  
    .subscribe-box input,
    .subscribe-box button {
      width: 100%;
    }
  
    .footer-bottom {
      flex-direction: column;
      gap: 10px;
      text-align: center;
    }
  }
  